*.sqlite*
/node_modules
/vendor
.env
.DS_Store
Thumbs.db
/storage/*.key
/public/storage
/public/hot
public/js/*
public/css/*
public/mix-manifest.json
*.log
.phpunit.result.cache
homestead.json
homestead.yaml
.env
.php_cs.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
